input[type="range"] {
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
}
input[type="range"]:focus {
  outline: none;
}

.slider {
  width: 100%;
  // background: $LightGrayishBlue;
  appearance: none;
  height: 0.6rem;
  transition: background 450ms ease-in;
  border-radius: 1rem;
  outline: none;
  animation: 0.2s;
  background: linear-gradient(
    to right,
    $SoftCyan 0%,
    $SoftCyan 50%,
    $LightGrayishBlue 0%,
    $LightGrayishBlue 100%
  );

  // The slider handle
  &::-webkit-slider-thumb {
    -webkit-appearance: none;
    @include thumb;
  }
  &::-moz-range-thumb {
    @include thumb;
  }

  &::-ms-thumb {
    @include thumb;
  }

  // doesn't work on chrome
  // &::-moz-range-progress {
  //   background: $SoftCyan;
  //   height: 100%;
  //   border-radius: 50px;
  // }
}
