@import '_variables';
@import '_media-queries';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Manrope', sans-serif;
  font-size: 15px;
  
  background-color:$VeryPaleBlue;
  min-height: 100vh;
}

main {
    min-height: 100vh;
  }
  
.header {
    background-image: url(/images/bg-pattern.svg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
    text-align: center;
    &__container {
        padding: 2rem;
        background-image: url(/images/pattern-circles.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        height: 10rem;
        
    & h1 {
        color: $DarkDesaturatedBlue;
        font-size: 20px;
        font-weight: 800;
    }
    & p {
        color: $GrayishBlue;
        margin: 10px 0;
        line-height: 25px;
    & br {
        @include desktop {
            display: none
        }
    }
    }
    }
  }


.attribution { 
    font-size: 11px; 
    text-align: center; 
    &.attribution a { 
        color: hsl(228, 45%, 44%); 
    }
}
